numpy==1.22.2
opencv-python==4.5.5.62
torch==1.10.2
typing_extensions==4.1.1
tensorflow==2.8.0
scikit-image==0.19.2
ffmpeg==1.4
colorama==0.4.4
matplotlib==3.5.1
IPython==8.0.1
cmyui==1.9.3
tzdata==2021.5
scipy==1.7.1
Pillow==9.0.1
tf-slim==1.1.0
protobuf==3.20.0
hentai